# DIA Temp files
*.dia~

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.so

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
src/qmrdump
src/mkhistogram
tests/Mdatevent_test
tests/Bitslicer_test
tests/Histogram_test
tests/Lmfile_test


# CMake related files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
